<?xml version="1.0"?>
<config>
    <modules>
        <HusseyCoding_InfiniteScroll>
            <version>1.0.0</version>
        </HusseyCoding_InfiniteScroll>
    </modules>
    <global>
        <models>
            <infinitescroll>
                <class>HusseyCoding_InfiniteScroll_Model</class>
            </infinitescroll>
        </models>
        <blocks>
            <infinitescroll>
                <class>HusseyCoding_InfiniteScroll_Block</class>
            </infinitescroll>
        </blocks>
        <helpers>
            <infinitescroll>
                <class>HusseyCoding_InfiniteScroll_Helper</class>
            </infinitescroll>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <infinitescroll>
                    <file>infinitescroll.xml</file>
                </infinitescroll>
            </updates>
        </layout>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <frontend_controller_action_layout_load_before_infinitescroll>
                        <class>infinitescroll/observer</class>
                        <method>frontendControllerActionLayoutLoadBefore</method>
                    </frontend_controller_action_layout_load_before_infinitescroll>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
</config>
